CompileFlags:
  Add:
    - -Idrivers
    - -Idrivers/include
    - -Idrivers/include/config
    - -Ilibraries/CMSIS/Device/ST/STM32F1xx/Include
    - -Ilibraries/CMSIS/Include
    - -Ilibraries/CMSIS/RTOS/Template
    - -Ilibraries/STM32F1xx_HAL_Driver/Inc
    - -Ilibraries/STM32F1xx_HAL_Driver/Inc/Legacy
    - -Irt-thread/components/drivers/include
    - -Irt-thread/components/finsh
    - -Irt-thread/components/libc/compilers/common
    - -Irt-thread/include
    - -Irt-thread/libcpu/arm/common
    - -Irt-thread/libcpu/arm/cortex-m3
    - -Iapplications
    - -I.
    - -D_SOC_FAMILY_STM32
    - -DSOC_SERIES_STM32F1
    - -DUSE_HAL_DRIVER
    - -DSTM32F103xB

# Optional: clangd will still prefer compile_commands.json if present.
# If you later generate compile_commands.json in Debug, set clangd.arguments --compile-commands-dir=Debug in VSCode settings.
